/* Project theme color variables */
:root {
  --color-bg: #F1F3E0;
  --color-bg-alt: #D2DCB6;
  --color-primary: #A1BC98;
  --color-accent: #778873;
  --color-text: #222;
  --color-header: #A1BC98;
  --color-footer: #D2DCB6;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  display: block;
  margin: 0 !important;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
